In [24]:
import pandas as pd
data= pd.read_csv("D:\\df_merge_data_filter.csv")

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 89 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  49 non-null     object
 1   CO₂(%mol)                  49 non-null     float64
 2   TC069(℃)                   49 non-null     float64
 3   load(%)                    49 non-null     float64
 4   carbonBalance              49 non-null     float64
 5   N₂(%mol)                   49 non-null     float64
 6   O₂(%mol)                   49 non-null     float64
 7   TC039(℃)                   14 non-null     float64
 8   1stReaction Tmax(℃)        17 non-null     float64
 9   2ndReaction Tmax(℃)        17 non-null     float64
 10  2ndReaction△P(KPaG)        17 non-null     float64
 11  1stReaction△P(KPaG)        17 non-null     float64
 12  CO(%mol)                   49 non-null     float64
 13  C₂H₄(%mol)                 49 non-null     float64
 14  C₃H₆(%mol)                 49 non-null     float64
 15  ACL(%mol)                  49 non-null     float64
 16  ACT(%mol)                  49 non-null     float64
 17  ACR(%mol)                  49 non-null     float64
 18  ACA(%mol)                  49 non-null     float64
 19  AA yieldCoefficient(%mol)  49 non-null     float64
 20  PP conversionRate(%mol)    49 non-null     float64
 21  ACR conversionRate(%mol)   49 non-null     float64
 22  TC038(℃)                   49 non-null     float64
 23  XCL.114TI038A.PV           31 non-null     float64
 24  XCL.114TI038B.PV           31 non-null     float64
 25  XCL.114TC039.PV            31 non-null     float64
 26  XCL.114TC069A.PV           31 non-null     float64
 27  XCL.114TC069B.PV           31 non-null     float64
 28  XCL.114PI003.PV            31 non-null     float64
 29  XCL.114FC012.PV            31 non-null     float64
 30  XCL.114FI013.PV            31 non-null     float64
 31  XCL.114FI014.PV            31 non-null     float64
 32  XCL.114PI015.PV            31 non-null     float64
 33  XCL.114PI016.PV            31 non-null     float64
 34  XCL.114PK010A.PV           31 non-null     float64
 35  XCL.114PK010B.PV           31 non-null     float64
 36  XCL.114PK010C.PV           31 non-null     float64
 37  XCL.114PI012.PV            31 non-null     float64
 38  XCL.114TC150.PV            31 non-null     float64
 39  XCL.114TC005.PV            31 non-null     float64
 40  XCL.114TC004.PV            31 non-null     float64
 41  XCL.114TK012.PV            31 non-null     float64
 42  XCL.114TC142.PV            31 non-null     float64
 43  XCL.114TC209.PV            31 non-null     float64
 44  XCL.114R01_Max1_1.PV       31 non-null     float64
 45  XCL.114R01_Max1_2.PV       31 non-null     float64
 46  XCL.114R01_Max1_3.PV       31 non-null     float64
 47  XCL.114FC140.PV            31 non-null     float64
 48  XCL.114TI103B.PV           31 non-null     float64
 49  XCL.114TI103C.PV           31 non-null     float64
 50  XCL.114TI103D.PV           31 non-null     float64
 51  XCL.114TI104.PV            31 non-null     float64
 52  XCL.114FI015.PV            31 non-null     float64
 53  XCL.114FI018.PV            31 non-null     float64
 54  XCL.114PI017.PV            31 non-null     float64
 55  XCL.114PI018.PV            31 non-null     float64
 56  XCL.114PI013A.PV           31 non-null     float64
 57  XCL.114PI014.PV            31 non-null     float64
 58  XCL.114R02_Max1_1.PV       31 non-null     float64
 59  XCL.114R02_Max1_2.PV       31 non-null     float64
 60  XCL.114TI105A.PV           31 non-null     float64
 61  XCL.114TI105B.PV           31 non-null     float64
 62  XCL.114TI105C.PV           31 non-null     float64
 63  XCL.114TI105D.PV           31 non-null     float64
 64  XCL.621AI001.PV            31 non-null     float64
 65  XCL.621AI002.PV            31 non-null     float64
 66  xcl.114PC206.PV            31 non-null     float64
 67  xcl.114TI180A.PV           31 non-null     float64
 68  xcl.114TI180B.PV           31 non-null     float64
 69  xcl.114TI078.PV            31 non-null     float64
 70  xcl.114TI183.PV            31 non-null     float64
 71  xcl.114TI182A.PV           31 non-null     float64
 72  xcl.114TI182B.PV           31 non-null     float64
 73  xcl.114TI080A.PV           31 non-null     float64
 74  xcl.114TI080B.PV           31 non-null     float64
 75  xcl.114TK014A.PV           31 non-null     float64
 76  xcl.114TK014B.PV           31 non-null     float64
 77  xcl.114TK014C.PV           31 non-null     float64
 78  xcl.114TK016A.PV           31 non-null     float64
 79  xcl.114TK016B.PV           31 non-null     float64
 80  xcl.114TK016C.PV           31 non-null     float64
 81  xcl.114TK045A.PV           31 non-null     float64
 82  xcl.114TK045B.PV           31 non-null     float64
 83  xcl.114TK045C.PV           31 non-null     float64
 84  xcl.114R01_MAX.PV          31 non-null     float64
 85  xcl.114R02_MAX.PV          31 non-null     float64
 86  xcl.114TK043A.PV           31 non-null     float64
 87  XCL.114SFC102_01.BAIR      31 non-null     float64
 88  XCL.114SFC102_01.BH2O      31 non-null     float64
dtypes: float64(88), object(1)
memory usage: 34.2+ KB

In [22]:
# 删除NA：dropnan
data.dropna(how='any', inplace=True)

In [23]:
data

,Timestamp,CO₂(%mol),TC069(℃),load(%),carbonBalance,N₂(%mol),O₂(%mol),TC039(℃),1stReaction Tmax(℃),2ndReaction Tmax(℃),...,xcl.114TK016B.PV,xcl.114TK016C.PV,xcl.114TK045A.PV,xcl.114TK045B.PV,xcl.114TK045C.PV,xcl.114R01_MAX.PV,xcl.114R02_MAX.PV,xcl.114TK043A.PV,XCL.114SFC102_01.BAIR,XCL.114SFC102_01.BH2O
35,2021-02-21 05:30:00,4.13,268.000000,102.000000,104.919998,80.970001,4.94,235.000000,380.000000,314.500000,...,233.495933,232.904331,223.861291,226.169614,226.208674,380.411506,313.928623,227.393210,1.779893,0.767119
36,2021-02-23 07:00:00,4.22,268.000000,103.000000,103.769997,83.169998,5.35,234.000000,381.600006,314.000000,...,233.744436,232.980430,223.847721,226.156841,226.320534,381.302433,314.834499,227.510441,1.818253,0.768600
37,2021-03-12 14:10:00,4.05,269.500000,105.000000,105.449997,80.059998,4.50,234.500000,382.500000,316.700012,...,233.788976,233.441844,223.731330,226.615391,226.516317,381.824511,316.758444,227.853549,1.757617,0.754784
38,2021-03-19 13:00:00,4.11,270.000000,105.000000,104.989998,81.070000,4.54,234.199997,380.899994,316.000000,...,233.806646,233.319794,224.181049,226.448340,226.534480,381.639364,316.538226,227.577541,1.740267,0.746559
39,2021-03-25 13:00:00,4.16,269.600006,105.000000,105.269997,80.970001,4.52,234.000000,381.000000,314.299988,...,233.784787,233.217647,224.144499,226.475133,226.619117,380.593863,314.043247,227.484723,1.734654,0.734426
40,2021-04-01 14:30:00,4.07,270.000000,105.000000,104.800003,78.459999,4.20,234.000000,379.799988,315.700012,...,233.605506,233.039166,224.154837,226.354650,226.467073,379.209124,315.529937,227.512240,1.720080,0.739271
41,2021-04-08 13:00:00,4.11,270.000000,105.000000,105.489998,81.800003,4.63,235.000000,383.399994,315.000000,...,233.844764,233.163629,224.700913,226.950316,227.043843,383.055364,315.054620,228.154770,1.749421,0.752927
42,2021-04-16 12:30:00,4.09,270.000000,105.000000,106.019997,80.300003,4.22,235.000000,379.000000,315.000000,...,233.787076,232.982590,224.789139,227.072010,227.087831,380.126054,314.594156,228.003943,1.718599,0.759110
43,2021-04-26 15:00:00,4.32,259.980011,77.180000,102.830002,80.610001,5.78,234.990005,371.760010,298.970001,...,234.257546,232.226983,223.573283,226.425339,226.424917,371.667359,313.776180,227.999107,1.907397,0.742924
44,2021-04-27 12:40:00,4.30,262.959991,89.000000,104.940002,81.959999,4.96,234.860001,370.869995,299.489990,...,234.626411,232.692210,223.991993,226.675391,226.760830,371.378697,313.776180,227.952744,1.782166,0.713926
45,2021-04-28 12:30:00,4.30,263.630005,100.000000,104.360001,80.339996,5.29,234.720001,378.880005,301.220001,...,234.688804,233.007430,224.341261,226.531267,226.560856,378.968999,308.088380,227.893816,1.817847,0.729746
46,2021-04-29 14:10:00,4.25,265.299988,100.000000,105.489998,78.980003,4.86,234.500000,376.299988,305.000000,...,234.351867,232.779190,224.293067,226.554986,226.565079,375.847609,308.088380,227.765926,1.779420,0.712333
47,2021-05-13 13:30:00,4.31,267.059998,99.809998,104.940002,80.970001,5.13,234.470001,382.839996,308.089996,...,234.109261,232.388789,224.188033,226.363981,226.463816,382.987480,308.088391,227.619359,1.796246,0.740190

In [69]:
data['TC069(℃)'].quantile(q=0.9)

278.2799988

In [65]:
# 填充NA：fillna
data[
    (~data['TC039(℃)'].isnull())
    &(data['load(%)']>=90)
    &(data['TC069(℃)']<data['TC069(℃)'].quantile(q=0.7))
]
# data[(data['TC039(℃)'].isnull() )&(data['TC038(℃)'].isnull()) ]

0.24205473742879194

In [7]:
data['TC039(℃)']

279.399994
279.399994

In [34]:
# 切片二：用判断条件来索引
data.loc[data['TC069(℃)']>270,'TC069(℃)']
data.loc[data['TC069(℃)']>data['TC069(℃)'].mean(),'TC069(℃)']

0     281.399994
1     281.000000
2     279.399994
3     281.600006
4     281.500000
5     278.000000
6     278.000000
7     275.299988
8     272.500000
9     271.299988
10    271.799988
11    272.000000
12    272.500000
13    272.500000
14    271.000000
15    271.000000
16    271.000000
17    271.000000
21    271.200012
22    271.000000
23    272.500000
24    272.700012
Name: TC069(℃), dtype: float64

In [26]:
# apply函数
from datetime import datetime
data= pd.read_csv("df_merge_data_filter.csv")
data['Timestamp'] = data['Timestamp'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
data['日期'] = data['Timestamp'].apply(lambda x: x.strftime('%Y-%m-%d'))
data['日期']

0     2019-07-10
1     2019-07-10
2     2019-07-11
3     2019-07-12
4     2019-07-12
5     2019-07-13
6     2019-07-13
7     2019-07-14
8     2019-07-16
9     2019-07-18
10    2019-07-20
11    2019-07-21
12    2019-07-22
13    2019-07-26
14    2019-07-27
15    2019-07-29
16    2019-07-29
17    2019-08-02
18    2019-08-06
19    2019-08-07
20    2019-08-09
21    2019-09-09
22    2019-09-16
23    2019-10-15
24    2019-10-29
25    2019-12-06
26    2019-12-07
27    2019-12-10
28    2020-03-29
29    2020-05-19
30    2020-06-16
31    2020-06-23
32    2020-08-11
33    2020-11-02
34    2020-11-28
35    2021-02-21
36    2021-02-23
37    2021-03-12
38    2021-03-19
39    2021-03-25
40    2021-04-01
41    2021-04-08
42    2021-04-16
43    2021-04-26
44    2021-04-27
45    2021-04-28
46    2021-04-29
47    2021-05-13
48    2021-05-14
Name: 日期, dtype: object

In [72]:
.min()

259.980011

In [80]:
import math
def change_69(x):
    return math.floor(x)

In [87]:
data['TC069(℃)'].to_excel("D:\\one.xlsx")

In [45]:
# sort_values: 排序
data.sort_values(by='load(%)', ascending=False)

,Timestamp,CO₂(%mol),TC069(℃),load(%),carbonBalance,N₂(%mol),O₂(%mol),TC039(℃),1stReaction Tmax(℃),2ndReaction Tmax(℃),...,xcl.114TK016C.PV,xcl.114TK045A.PV,xcl.114TK045B.PV,xcl.114TK045C.PV,xcl.114R01_MAX.PV,xcl.114R02_MAX.PV,xcl.114TK043A.PV,XCL.114SFC102_01.BAIR,XCL.114SFC102_01.BH2O,日期
37,2021-03-12 14:10:00,4.05,269.500000,105.000000,105.449997,80.059998,4.50,234.500000,382.500000,316.700012,...,233.441844,223.731330,226.615391,226.516317,381.824511,316.758444,227.853549,1.757617,0.754784,2021-03-12
42,2021-04-16 12:30:00,4.09,270.000000,105.000000,106.019997,80.300003,4.22,235.000000,379.000000,315.000000,...,232.982590,224.789139,227.072010,227.087831,380.126054,314.594156,228.003943,1.718599,0.759110,2021-04-16
41,2021-04-08 13:00:00,4.11,270.000000,105.000000,105.489998,81.800003,4.63,235.000000,383.399994,315.000000,...,233.163629,224.700913,226.950316,227.043843,383.055364,315.054620,228.154770,1.749421,0.752927,2021-04-08
40,2021-04-01 14:30:00,4.07,270.000000,105.000000,104.800003,78.459999,4.20,234.000000,379.799988,315.700012,...,233.039166,224.154837,226.354650,226.467073,379.209124,315.529937,227.512240,1.720080,0.739271,2021-04-01
39,2021-03-25 13:00:00,4.16,269.600006,105.000000,105.269997,80.970001,4.52,234.000000,381.000000,314.299988,...,233.217647,224.144499,226.475133,226.619117,380.593863,314.043247,227.484723,1.734654,0.734426,2021-03-25
38,2021-03-19 13:00:00,4.11,270.000000,105.000000,104.989998,81.070000,4.54,234.199997,380.899994,316.000000,...,233.319794,224.181049,226.448340,226.534480,381.639364,316.538226,227.577541,1.740267,0.746559,2021-03-19
36,2021-02-23 07:00:00,4.22,268.000000,103.000000,103.769997,83.169998,5.35,234.000000,381.600006,314.000000,...,232.980430,223.847721,226.156841,226.320534,381.302433,314.834499,227.510441,1.818253,0.768600,2021-02-23
34,2020-11-28 13:30:00,4.12,269.500000,103.000000,105.040001,80.349998,4.92,NaN,376.100006,319.000000,...,234.065103,224.015099,226.582210,226.598001,376.176801,318.918623,227.922093,1.780503,0.753661,2020-11-28
33,2020-11-02 13:00:00,3.94,268.500000,102.000000,104.480003,82.320000,4.96,NaN,376.100006,316.000000,...,234.483764,224.588377,227.151604,227.183081,376.831957,315.695190,228.403716,1.787324,0.748094,2020-11-02
30,2020-06-16 13:00:00,3.90,267.500000,102.000000,102.959999,80.779999,4.93,NaN,NaN,NaN,...,234.719536,225.257493,227.394026,227.546716,372.734521,313.910761,228.462083,1.781549,0.741344,2020-06-16
31,2020-06-23 13:00:00,3.89,268.500000,102.000000,103.129997,83.580002,4.91,NaN,NaN,NaN,...,234.551274,224.980186,227.230587,227.350491,373.214766,317.991464,228.290707,1.778876,0.757876,2020-06-23
32,2020-08-11 16:00:00,3.87,268.500000,102.000000,104.739998,79.550003,4.86,NaN,375.200012,316.299988,...,234.552650,224.948807,227.084104,227.227189,375.242436,316.394636,228.152874,1.778891,0.809931,2020-08-11
35,2021-02-21 05:30:00,4.13,268.000000,102.000000,104.919998,80.970001,4.94,235.000000,380.000000,314.500000,...,232.904331,223.861291,226.169614,226.208674,380.411506,313.928623,227.393210,1.779893,0.767119,2021-02-21
29,2020-05-19 13:00:00,3.88,267.500000,100.000000,103.480003,81.180000,5.20,NaN,NaN,NaN,...,234.072309,224.005789,226.581196,226.577751,372.812129,317.220171,227.851636,1.813374,0.781891,2020-05-19
24,2019-10-29 12:10:00,3.89,272.700012,100.000000,101.000000,85.040001,4.06,NaN,NaN,NaN,...,234.995086,223.743860,226.308926,226.390509,371.216326,334.854404,227.279579,1.835370,0.711300,2019-10-29
26,2019-12-07 14:00:00,4.06,265.500000,100.000000,99.629997,84.029999,5.52,NaN,NaN,NaN,...,234.838097,224.740870,227.317467,227.368540,375.290737,315.081969,228.548726,1.823591,0.711971,2019-12-07
45,2021-04-28 12:30:00,4.30,263.630005,100.000000,104.360001,80.339996,5.29,234.720001,378.880005,301.220001,...,233.007430,224.341261,226.531267,226.560856,378.968999,308.088380,227.893816,1.817847,0.729746,2021-04-28
46,2021-04-29 14:10:00,4.25,265.299988,100.000000,105.489998,78.980003,4.86,234.500000,376.299988,305.000000,...,232.779190,224.293067,226.554986,226.565079,375.847609,308.088380,227.765926,1.779420,0.712333,2021-04-29
27,2019-12-10 13:50:00,4.15,265.500000,100.000000,97.349998,86.800003,5.58,NaN,NaN,NaN,...,234.947309,225.189430,227.502576,227.652211,377.025250,314.460669,228.467186,1.807450,0.697939,2019-12-10
47,2021-05-13 13:30:00,4.31,267.059998,99.809998,104.940002,80.970001,5.13,234.470001,382.839996,308.089996,...,232.388789,224.188033,226.363981,226.463816,382.987480,308.088391,227.619359,1.796246,0.740190,2021-05-13
48,2021-05-14 12:30:00,4.23,267.250000,99.730003,104.809998,80.089996,4.95,234.539993,384.709991,308.279999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-14
23,2019-10-15 12:55:00,3.74,272.500000,99.000000,99.419998,86.910004,4.38,NaN,NaN,NaN,...,235.530215,224.444682,226.582838,226.918917,371.899695,332.838890,227.640895,1.863480,0.729665,2019-10-15
3,2019-07-12 11:00:00,3.74,281.600006,95.000000,114.269997,75.260002,2.90,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12
4,2019-07-12 18:20:00,3.71,281.500000,95.000000,113.750000,75.120003,3.04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12
22,2019-09-16 13:00:00,3.58,271.000000,95.000000,96.599998,85.349998,4.25,NaN,NaN,NaN,...,234.632719,223.540419,225.484509,225.801717,370.146423,330.582824,226.715946,1.857594,0.732814,2019-09-16
5,2019-07-13 06:55:00,3.86,278.000000,93.000000,111.480003,75.209999,3.07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13
21,2019-09-09 12:45:00,3.97,271.200012,92.000000,104.699997,82.849998,4.65,NaN,NaN,NaN,...,235.023607,223.519555,226.018098,226.205368,368.821960,330.756642,227.174987,1.904442,0.761973,2019-09-09
7,2019-07-14 11:00:00,4.01,275.299988,90.000000,108.519997,75.570000,3.10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-14
2,2019-07-11 16:50:00,3.97,279.399994,90.000000,112.519997,75.580002,2.86,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-11
25,2019-12-06 16:55:00,4.25,263.500000,90.000000,98.750000,87.559998,5.82,NaN,NaN,NaN,...,234.284177,223.966800,226.605613,226.809453,378.045043,314.084757,227.902815,1.810463,0.681900,2019-12-06
28,2020-03-29 12:30:00,4.34,264.500000,90.000000,100.849998,81.320000,5.17,NaN,NaN,NaN,...,233.672441,223.726611,226.294473,226.345006,378.526051,317.028114,227.764196,1.832273,0.798159,2020-03-29
6,2019-07-13 14:30:00,3.83,278.000000,90.000000,116.650002,67.349998,2.64,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13
44,2021-04-27 12:40:00,4.30,262.959991,89.000000,104.940002,81.959999,4.96,234.860001,370.869995,299.489990,...,232.692210,223.991993,226.675391,226.760830,371.378697,313.776180,227.952744,1.782166,0.713926,2021-04-27
20,2019-08-09 12:25:00,3.66,270.000000,88.000000,117.239998,72.239998,4.24,NaN,NaN,NaN,...,234.154368,223.123308,225.244283,225.696127,370.367885,332.201853,226.511602,1.937482,0.819405,2019-08-09
19,2019-08-07 15:00:00,3.73,269.700012,88.000000,116.169998,75.260002,2.22,NaN,NaN,NaN,...,233.741054,223.113130,225.320091,225.628244,371.633859,333.171011,226.374471,1.902903,0.815306,2019-08-07
18,2019-08-06 14:20:00,3.94,270.000000,87.000000,109.779999,76.029999,2.47,NaN,NaN,NaN,...,234.376233,223.615800,225.734731,226.005244,369.971724,331.606957,227.089017,1.972687,0.884836,2019-08-06
12,2019-07-22 19:15:00,3.94,272.500000,86.000000,111.910004,74.839996,2.95,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-22
13,2019-07-26 16:00:00,3.83,272.500000,86.000000,114.680000,74.239998,2.64,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-26
14,2019-07-27 23:00:00,3.79,271.000000,86.000000,114.669998,74.800003,2.91,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-27
15,2019-07-29 00:05:00,3.78,271.000000,86.000000,115.970001,74.959999,2.45,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-29
16,2019-07-29 12:00:00,3.68,271.000000,86.000000,115.809998,74.720001,2.60,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-29
17,2019-08-02 16:00:00,3.65,271.000000,86.000000,115.160004,74.459999,2.51,NaN,NaN,NaN,...,234.344276,223.813067,226.055679,226.380937,370.853493,333.776220,227.263104,1.955431,0.875764,2019-08-02
10,2019-07-20 13:10:00,3.73,271.799988,85.000000,114.839996,74.699997,3.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-20
9,2019-07-18 15:00:00,3.94,271.299988,85.000000,111.349998,74.790001,3.04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-18
8,2019-07-16 12:05:00,3.91,272.500000,85.000000,113.809998,75.360001,3.20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-16
11,2019-07-21 10:00:00,3.76,272.000000,85.000000,113.709999,74.540001,3.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-21
1,2019-07-10 18:45:00,3.97,281.000000,85.000000,106.120003,76.089996,3.46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10
0,2019-07-10 10:26:00,4.09,281.399994,82.500000,107.370003,75.709999,3.06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-10
43,2021-04-26 15:00:00,4.32,259.980011,77.180000,102.830002,80.610001,5.78,234.990005,371.760010,298.970001,...,232.226983,223.573283,226.425339,226.424917,371.667359,313.776180,227.999107,1.907397,0.742924,2021-04-26

In [35]:
# groupby：分组函数
data_group = data.groupby(by='日期').mean()
data_group[['AA yieldCoefficient(%mol)','PP conversionRate(%mol)']]

            AA yieldCoefficient(%mol)  PP conversionRate(%mol)
日期
2019-07-10                  90.659999                99.429997
2019-07-11                  90.199997                99.169998
2019-07-12                  90.785000                99.110001
2019-07-13                  90.345001                99.090000
2019-07-14                  89.419998                99.059998
2019-07-16                  90.029999                99.120003
2019-07-18                  89.739998                99.000000
2019-07-20                  89.760002                99.019997
2019-07-21                  90.169998                98.970001
2019-07-22                  89.879997                98.970001
2019-07-26                  90.180000                98.849998
2019-07-27                  89.970001                98.839996
2019-07-29                  90.145000                98.849998
2019-08-02                  90.199997                98.870003
2019-08-06                  90.010002                98.889999
2019-08-07                  89.769997                98.690002
2019-08-09                  90.510002                98.720001
2019-09-09                  90.089996                98.779999
2019-09-16                  89.610001                98.360001
2019-10-15                  89.580002                98.339996
2019-10-29                  89.550003                97.930000
2019-12-06                  89.980003                99.059998
2019-12-07                  89.800003                98.779999
2019-12-10                  89.599998                98.809998
2020-03-29                  90.070000                99.250000
2020-05-19                  90.019997                98.739998
2020-06-16                  89.970001                98.809998
2020-06-23                  90.099998                98.730003
2020-08-11                  90.370003                98.629997
2020-11-02                  89.760002                98.459999
2020-11-28                  89.580002                98.360001
2021-02-21                  90.010002                98.860001
2021-02-23                  90.000000                98.820000
2021-03-12                  89.790001                98.690002
2021-03-19                  89.910004                98.699997
2021-03-25                  89.570000                98.629997
2021-04-01                  89.760002                98.660004
2021-04-08                  89.889999                98.650002
2021-04-16                  89.580002                98.570000
2021-04-26                  90.559998                99.260002
2021-04-27                  90.019997                99.029999
2021-04-28                  89.360001                98.709999
2021-04-29                  89.309998                98.650002
2021-05-13                  89.570000                98.739998
2021-05-14                  89.940002                98.889999

In [42]:
# merge：左右拼接
a = data[['Timestamp','日期','AA yieldCoefficient(%mol)']]
b = data_group[['AA yieldCoefficient(%mol)']].reset_index()
pd.merge(a, b, how='left', left_on='日期', right_on='日期',suffixes=('_a', '_b'))

,Timestamp,日期,AA yieldCoefficient(%mol)_a,AA yieldCoefficient(%mol)_b
0,2019-07-10 10:26:00,2019-07-10,90.440002,90.659999
1,2019-07-10 18:45:00,2019-07-10,90.879997,90.659999
2,2019-07-11 16:50:00,2019-07-11,90.199997,90.199997
3,2019-07-12 11:00:00,2019-07-12,90.750000,90.785000
4,2019-07-12 18:20:00,2019-07-12,90.820000,90.785000
5,2019-07-13 06:55:00,2019-07-13,90.070000,90.345001
6,2019-07-13 14:30:00,2019-07-13,90.620003,90.345001
7,2019-07-14 11:00:00,2019-07-14,89.419998,89.419998
8,2019-07-16 12:05:00,2019-07-16,90.029999,90.029999
9,2019-07-18 15:00:00,2019-07-18,89.739998,89.739998
10,2019-07-20 13:10:00,2019-07-20,89.760002,89.760002
11,2019-07-21 10:00:00,2019-07-21,90.169998,90.169998
12,2019-07-22 19:15:00,2019-07-22,89.879997,89.879997
13,2019-07-26 16:00:00,2019-07-26,90.180000,90.180000
14,2019-07-27 23:00:00,2019-07-27,89.970001,89.970001
15,2019-07-29 00:05:00,2019-07-29,90.080002,90.145000
16,2019-07-29 12:00:00,2019-07-29,90.209999,90.145000
17,2019-08-02 16:00:00,2019-08-02,90.199997,90.199997
18,2019-08-06 14:20:00,2019-08-06,90.010002,90.010002
19,2019-08-07 15:00:00,2019-08-07,89.769997,89.769997
20,2019-08-09 12:25:00,2019-08-09,90.510002,90.510002
21,2019-09-09 12:45:00,2019-09-09,90.089996,90.089996
22,2019-09-16 13:00:00,2019-09-16,89.610001,89.610001
23,2019-10-15 12:55:00,2019-10-15,89.580002,89.580002
24,2019-10-29 12:10:00,2019-10-29,89.550003,89.550003
25,2019-12-06 16:55:00,2019-12-06,89.980003,89.980003
26,2019-12-07 14:00:00,2019-12-07,89.800003,89.800003
27,2019-12-10 13:50:00,2019-12-10,89.599998,89.599998
28,2020-03-29 12:30:00,2020-03-29,90.070000,90.070000
29,2020-05-19 13:00:00,2020-05-19,90.019997,90.019997
30,2020-06-16 13:00:00,2020-06-16,89.970001,89.970001
31,2020-06-23 13:00:00,2020-06-23,90.099998,90.099998
32,2020-08-11 16:00:00,2020-08-11,90.370003,90.370003
33,2020-11-02 13:00:00,2020-11-02,89.760002,89.760002
34,2020-11-28 13:30:00,2020-11-28,89.580002,89.580002
35,2021-02-21 05:30:00,2021-02-21,90.010002,90.010002
36,2021-02-23 07:00:00,2021-02-23,90.000000,90.000000
37,2021-03-12 14:10:00,2021-03-12,89.790001,89.790001
38,2021-03-19 13:00:00,2021-03-19,89.910004,89.910004
39,2021-03-25 13:00:00,2021-03-25,89.570000,89.570000
40,2021-04-01 14:30:00,2021-04-01,89.760002,89.760002
41,2021-04-08 13:00:00,2021-04-08,89.889999,89.889999
42,2021-04-16 12:30:00,2021-04-16,89.580002,89.580002
43,2021-04-26 15:00:00,2021-04-26,90.559998,90.559998
44,2021-04-27 12:40:00,2021-04-27,90.019997,90.019997
45,2021-04-28 12:30:00,2021-04-28,89.360001,89.360001
46,2021-04-29 14:10:00,2021-04-29,89.309998,89.309998
47,2021-05-13 13:30:00,2021-05-13,89.570000,89.570000
48,2021-05-14 12:30:00,2021-05-14,89.940002,89.940002

In [46]:
# concat：上下拼接
pd.concat([a,b])

             Timestamp          日期  AA yieldCoefficient(%mol)
0  2019-07-10 10:26:00  2019-07-10                  90.440002
1  2019-07-10 18:45:00  2019-07-10                  90.879997
2  2019-07-11 16:50:00  2019-07-11                  90.199997
3  2019-07-12 11:00:00  2019-07-12                  90.750000
4  2019-07-12 18:20:00  2019-07-12                  90.820000
..                 ...         ...                        ...
40                 NaT  2021-04-27                  90.019997
41                 NaT  2021-04-28                  89.360001
42                 NaT  2021-04-29                  89.309998
43                 NaT  2021-05-13                  89.570000
44                 NaT  2021-05-14                  89.940002

[94 rows x 3 columns]